# Configurações Magazord
MAGAZORD_API_URL=https://danajalecos.painel.magazord.com.br/api
MAGAZORD_USER=MZDKe610ed8d77404c8ebe37b79a35b579a5e4e85682c15d6bd89f30d5852757
MAGAZORD_PASSWORD=o#W51myRIS@j

# Configurações GoHighLevel
GHL_WEBHOOK_URL=https://services.leadconnectorhq.com/hooks/scD4yzuj3zsDsqfrgvtZ/webhook-trigger/b6fd6bb0-15ef-4af5-af2b-3122b92376b6

# Configurações Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gyxjuxmwnwyansfoabyv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_mFO1y3tCjIGg6j5QsJQUpQ_vobxOhZw

# Secret para validar chamadas de cron
CRON_SECRET=neese-cron-secret-2024

# Configurações de Intervalo (em minutos) - AGORA CONTROLADO PELO SUPABASE
SYNC_INTERVAL=15

# Porta do servidor
PORT=3000
