openapi: 3.0.0
info:
  version: 1.0.0
  title: API de Integração MagaZord
  x-logo:
    url: >-
      https://public-resources.cdn.magazord.com.br/assets/global/admin/login/logo-magazord-light.svg
servers:
  - url: https://urlmagazord.com.br/api/
security:
  - BasicAuth: []
tags:
  - name: Changelog
    description: >-
      Última atualização: <b>12/3/2025</b></br> 🔄 Acompanhe as mudanças da
      nossa API no changelog. [Clique aqui](changelog.html) 
  - name: Compatibilidade Protocolo TLS
    description: >-
      Utilizamos protocolos criptográficos do TLS versão 1.2 (e superiores)
      conforme os padrões atuais de segurança da informação e boas práticas na
      proteção de dados.
  - name: MagaZord REST API
    description: ' As APIs REST do MagaZord permitem com que você construa integrações e extenda as capacidades da plataforma MagaZord. '
  - name: Política de CORS
    description: ' As APIS REST do MagaZord são construídas seguindo o modelo de restrição <b>same-origin</b> no qual o <b>CORS (Cross-Origin Resource Sharing)</b> é  restrito por origem.     <br/> <br/> De maneira prática a aplicação dessa política impede com que páginas web  consumam as APIs da plataforma por meio de Javascript em contexto frontend. <br /> <br /> A aplicação dessa política é utilizada como uma camada base de segurança de modo a evitar consumos inadequados das APIs do MagaZord. '
  - name: Definição dos dados
    description: >2-
       Definição de conjunto de dados retornados e utilizados nos endpoints.
      <br><br>

      <h3>Situações do pedido</h3>

      <table> <tr> <th>Código</th> <th>Descrição</th> <th>Tipo</th> </tr> <tr>
      <td>1</td> <td>Aguardando Pagamento</td> <td>Normal</td> </tr> <tr>
      <td>2</td> <td>Cancelado Pagamento</td> <td>Cancelado</td> </tr> <tr>
      <td>3</td> <td>Em análise Pagamento</td> <td>Aguardando Terceiro</td>
      </tr> <tr> <td>4</td> <td>Aprovado</td> <td>Normal</td> </tr> <tr>
      <td>5</td> <td>Aprovado e Integrado</td> <td>Normal</td> </tr> <tr>
      <td>6</td> <td>Nota Fiscal Emitida</td> <td>Normal</td> </tr> <tr>
      <td>7</td> <td>Transporte</td> <td>Normal</td> </tr> <tr> <td>8</td>
      <td>Entregue</td> <td>Normal</td> </tr> <tr> <td>9</td> <td>Fraude</td>
      <td>Normal</td> </tr> <tr> <td>10</td> <td>Chargeback</td> <td>Normal</td>
      </tr> <tr> <td>11</td> <td>Disputa</td> <td>Normal</td> </tr> <tr>
      <td>12</td> <td>Aprovado Análise de Pagamento</td> <td>Normal</td> </tr>
      <tr> <td>13</td> <td>Em análise de pagamento (interna)</td>
      <td>Normal</td> </tr> <tr> <td>14</td> <td>Cancelado Pagamento
      Análise</td> <td>Cancelado</td> </tr> <tr> <td>15</td> <td>Aguardando
      Pagamento (Diferenciado)</td> <td>Anomalia</td> </tr> <tr> <td>16</td>
      <td>Problema Fluxo Postal</td> <td>Anomalia</td> </tr> <tr> <td>17</td>
      <td>Devolvido Financeiro</td> <td>Anomalia</td> </tr> <tr> <td>18</td>
      <td>Aguardando Atualização de Dados</td> <td>Aguardando Terceiro</td>
      </tr> <tr> <td>19</td> <td>Aguardando Chegada do Produto</td>
      <td>Normal</td> </tr> <tr> <td>20</td> <td>Devolvido Estoque (Dep. 1)</td>
      <td>Anomalia</td> </tr> <tr> <td>21</td> <td>Devolvido Estoque (Outros
      Dep.)</td> <td>Anomalia</td> </tr> <tr> <td>22</td> <td>Suspenso
      Temporariamente</td> <td>Anomalia</td> </tr> <tr> <td>23</td>
      <td>Faturamento Iniciado</td> <td>Normal</td> </tr> <tr> <td>24</td>
      <td>Em Cancelamento</td> <td>Cancelado</td> </tr> <tr> <td>25</td>
      <td>Tratamento Pós-Vendas</td> <td>Anomalia</td> </tr> <tr> <td>26</td>
      <td>Nota Fiscal Cancelada</td> <td>Normal</td> </tr> <tr> <td>27</td>
      <td>Crédito por Troca</td> <td>Normal</td> </tr> <tr> <td>28</td> <td>Nota
      Fiscal Denegada</td> <td>Anomalia</td> </tr> <tr> <td>29</td>
      <td>Chargeback Pago</td> <td>Normal</td> </tr> <tr> <td>30</td>
      <td>Aprovado Parcial</td> <td>Normal</td> </tr> <tr> <td>31</td> <td>Em
      Logística Reversa</td> <td>Anomalia</td> </tr> </table>

      <h3>Tipos da situação do pedido</h3> <table> <tr> <th>Código</th>
      <th>Descrição</th> </tr> <tr> <td>1</td> <td>Normal</td> </tr> <tr>
      <td>2</td> <td>Anomalia</td> </tr> <tr> <td>3</td> <td>Cancelado</td>
      </tr> <tr> <td>4</td> <td>Aguardando Terceiro</td> </tr> </table> 
  - name: ANP
    description: Através deste recurso é possível consultas os códigos ANP do MagaZord
  - name: Anúncio Catalogado
    description: >-
      Através deste recurso é possível consultar, alterar e excluir Anúncios
      Catalogados no MagaZord.
  - name: Anúncios Marketplace
    description: Através deste recurso é possível consultar Anuncios do Marketplace
  - name: Auth
    description: Através deste recurso é possível alterar a autenticação pelo MagaZord.
  - name: Característica
    description: >-
      Através deste recurso é possível consultar as características cadastradas
      no MagaZord.
  - name: Características do Produto
    description: Permite geranciar o relacionamento de Produto X Características.
  - name: Carrinho
    description: Permite consultar detalhes do carrinho de compras.
  - name: Caixas PDV
    description: Permite consultar detalhes do caixa PDV.
  - name: Código do Vendedor
    description: Permite consultar detalhes do Código do Vendedor.
  - name: Categoria
    description: >-
      Através deste recurso é possível consultar as categorias cadastradas no
      MagaZord.
  - name: Configuração de Pagamento
    description: >-
      Através deste endpoint é possível consultar as configurações de pagamento
      no MagaZord.
  - name: Contas a Pagar
    description: >-
      Através deste endpoint é possível consultar os títulos de Contas a Pagar
      no MagaZord.
  - name: Contas a Receber
    description: >-
      Através deste endpoint é possível consultar os títulos de Contas a Receber
      no MagaZord.
  - name: Conteúdo de Página Adicional
    description: >-
      Através deste recurso é possível manipular o Conteúdo de Página Adicional
      no MagaZord.
  - name: Cupom de Desconto
    description: >-
      Através deste recurso é possível consultar e criar cupons de desconto e
      crédito no MagaZord.
  - name: Derivação
    description: Através deste recurso é possível consultar derivações no MagaZord.
  - name: Derivação de Item
    description: >-
      Através deste recurso é possível consultar  e cadastrar item das
      derivações no MagaZord.
  - name: Derivação do Produto
    description: >-
      Através deste recurso é possível consultar, cadastrar, alterar e deletar
      os produto derivação no MagaZord.
  - name: Estoque
    description: >-
      Através deste recurso é possível consultar o estoque atualizado e realizar
      movimentações de estoque no MagaZord.
  - name: Folha de vendas
    description: >-
      Através deste recurso é possível consultar as Folhas de Vendas emitidas
      pelo MagaZord.
  - name: Formas de Recebimentos
    description: >-
      Através deste recurso é possível consultar as Formas de Recebimentos
      cadastradas no MagaZord.
  - name: Frete
    description: >-
      Através deste recurso é possível consultar informações relacionadas ao
      frete no MagaZord.
  - name: Frontend
    description: >-
      Através deste recurso é possível consultar dados do Site(frontend)
      MagaZord.
  - name: Garantia
    description: >-
      Através deste recurso é possível consultar, cadastrar e deletar as
      garantias no MagaZord.
  - name: Grades
    description: >-
      Através deste recurso é possível consultar as Grades cadastradas no
      MagaZord.
  - name: Grupos de Banner
    description: >-
      Através deste recurso é possível consultar, cadastrar e alterar os Grupos
      de Banner.
  - name: Loja
    description: Através deste recurso é possível consultar lojas no MagaZord.
  - name: Loja Configuração
    description: >-
      Através deste recurso é possível consultar as configurações da loja no
      MagaZord.
  - name: Marca
    description: >-
      Através deste recurso é possível consultar, cadastrar e deletar as marcas
      no MagaZord.
  - name: Menu do Site
    description: Através deste recurso é possível consultar os Menus do Site.
  - name: Mídia
    description: Através deste recurso é possivel cadastrar mídias no MagaZord.
  - name: Movimentações de Processos
    description: >-
      Através deste recurso é possível consultar as Movimentações de Processos
      cadastradas no MagaZord.
  - name: Newsletter
    description: Através deste recurso é possível consultar newsletter no MagaZord.
  - name: Nota Fiscal
    description: >-
      Através deste recurso é possível consultar as Notas Fiscais emitidas pelo
      MagaZord.
  - name: Notificações
    description: >-
      Através deste recurso é possível consultar as Notificações de um usuário
      pelo MagaZord.
  - name: Páginas
    description: >-
      Através deste recurso é possível consultar, cadastrar e deletar as páginas
      no MagaZord.
  - name: Pedido
    description: >-
      Através deste recurso é possível consultar os pedidos efetuados através do
      MagaZord.
  - name: Pedido X Dados de Conferência
    description: >-
      Através deste recurso é possível dar manutenção nos dados de Conferência
      dos pedidos cadastrados no MagaZord.
  - name: Pessoa
    description: >-
      Através deste recurso é possível consultar as pessoas cadastradas no
      MagaZord.
  - name: Personalização
    description: >-
      Através deste recurso é possível consultar as personalizações cadastradas
      no MagaZord.
  - name: Personalização do Produto
    description: Permite gerenciar o relacionamento de Produto X Personalização.
  - name: Preço
    description: >-
      Através deste recurso é possível consultar os preços atualizados dos
      produtos e realizar alterações de preço.
  - name: Processos
    description: >-
      Através deste recurso é possível consultar os Processos cadastradas no
      MagaZord.
  - name: Produto
    description: >-
      Através deste recurso é possível consultar, cadastrar, alterar e deletar
      os produtos no MagaZord.
  - name: Projeção de Estoque
    description: >-
      Através deste recurso é possível consultar métricas sobre a projeção do
      seu estoque.
  - name: Relacionamentos do Produto
    description: >-
      Através deste recurso é possível geranciar o relacionamento de Produto X
      Produtos.
  - name: Romaneio de Carga
    description: Permite gerenciar o módulo de Romaneio de Carga.
  - name: Serviços de Transportadoras
    description: >-
      Através deste recurso é possível consultar os serviços das transportadoras
      MagaZord.
  - name: Tabela de Preços
    description: >-
      Através deste recurso é possível consultar as Tabelas de Preço cadastradas
      no MagaZord.
  - name: Tabela de Preço Itens
    description: >-
      Através deste recurso é possível consultar os itens das Tabelas de Preço
      cadastradas no MagaZord.
  - name: Tags
    description: Através deste recurso é possível consultar as Tags do MagaZord
  - name: Transportadoras
    description: >-
      Através deste recurso é possível consultar os dados das transportadoras
      MagaZord.
  - name: Unidade de Medida
    description: Através deste recurso é possível consultar as Unidades de Medida.
paths:
  /v2/site/paginaadicional:
    get:
      tags:
        - Conteúdo de Página Adicional
      summary: Buscar Conteúdo de Página Adicional
      operationId: getPaginaAdicional.yaml
      parameters:
        - name: id
          in: query
          description: ID do Conteúdo de Página Adicional
          required: false
          schema:
            type: integer
        - name: tipo
          in: query
          description: Código do Tipo do Conteúdo de Página Adicional
          required: false
          schema:
            type: integer
        - name: codigoLoja
          in: query
          description: Código da Loja do Conteúdo de Página Adicional
          required: false
          schema:
            type: integer
        - name: nome
          in: query
          description: Nome do Conteúdo de Página Adicional
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: order
          in: query
          description: >-
            Parâmetro enviado indicando sobre qual coluna a ordenação será
            efetuada
          schema:
            type: string
            enum:
              - id
              - nome
        - name: orderDirection
          in: query
          description: >-
            Parâmetro indicando se a ordenação deverá ser feita de forma
            crescente ou decrescente
          schema:
            type: string
            enum:
              - asc
              - desc
      properties:
        status:
          type: string
          description: success
      responses:
        '200':
          description: Consulta efetuada com Sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: >-
                            #/paths/~1v2~1site~1paginaadicional/post/responses/200/content/application~1json/schema/properties/data
                      page_count:
                        type: integer
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
    post:
      tags:
        - Conteúdo de Página Adicional
      summary: Inserir Conteúdo de Página Adicional
      description: Permite inserir um novo Conteúdo de Página Adicional.
      operationId: postPaginaAdicional.yaml
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                loja:
                  type: integer
                  required: true
                tipo:
                  type: integer
                midia:
                  type: integer
                nome:
                  type: string
                  required: true
                dataInicio:
                  type: string
                  format: date-time
                dataFim:
                  type: string
                  format: date-time
                exibeDevice:
                  type: array
                  items:
                    type: integer
                exibirEm:
                  type: integer
                  required: true
                conteudo:
                  type: string
                opcoes:
                  type: object
                  properties:
                    urlDestino:
                      type: string
                    posicao:
                      type: integer
                    exibeAoSairPagina:
                      type: boolean
                    modelo:
                      type: integer
                    titulo:
                      type: string
                    descricao:
                      type: string
                    cupomDescricao:
                      type: string
                    urlMidia:
                      type: string
                filtros:
                  type: object
                  properties:
                    proderCodigo:
                      type: array
                      items:
                        type: string
                    catId:
                      type: array
                      items:
                        type: integer
                    marcaId:
                      type: array
                      items:
                        type: integer
                    pagtipId:
                      type: array
                      items:
                        type: integer
      responses:
        '200':
          description: Alteração efetuada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      loja:
                        type: integer
                      midia:
                        type: integer
                      nome:
                        type: string
                      dataInicio:
                        type: object
                        properties:
                          date:
                            type: string
                          timezone_type:
                            type: integer
                          timezone:
                            type: string
                      dataFim:
                        type: object
                        properties:
                          date:
                            type: string
                          timezone_type:
                            type: integer
                          timezone:
                            type: string
                      exibeDevice:
                        type:
                          - array
                          - 'null'
                      exibirEm:
                        type: integer
                      conteudo:
                        type: string
                      opcoes:
                        type: array
                      filtros:
                        type: object
                        properties:
                          proderCodigo:
                            type: array
                            items:
                              type: object
                              properties:
                                codigo:
                                  type: string
                                nome:
                                  type: string
                                nomeCompleto:
                                  type: string
                                tipo:
                                  type: integer
                          catId:
                            type: array
                            items:
                              type: integer
                          marcaId:
                            type: array
                            items:
                              type: integer
                          pagtipId:
                            type: array
                            items:
                              type: integer
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /v2/site/paginaadicional/{id}:
    put:
      tags:
        - Conteúdo de Página Adicional
      summary: Alterar Conteúdo de Página Adicional
      description: Permite alterar os valores de um Conteúdo de Página Adicional.
      operationId: putPaginaAdicional.yaml
      parameters:
        - name: id
          in: path
          description: Id do Conteúdo de Página Adicional
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                loja:
                  type: integer
                tipo:
                  type: integer
                midia:
                  type: integer
                nome:
                  type: string
                dataInicio:
                  type: string
                  format: date-time
                dataFim:
                  type: string
                  format: date-time
                exibeDevice:
                  type: array
                  items:
                    type: integer
                exibirEm:
                  type: integer
                conteudo:
                  type: string
                opcoes:
                  type: object
                  properties:
                    urlDestino:
                      type: string
                    posicao:
                      type: integer
                    exibeAoSairPagina:
                      type: boolean
                    modelo:
                      type: integer
                    titulo:
                      type: string
                    descricao:
                      type: string
                    cupomDescricao:
                      type: string
                    urlMidia:
                      type: string
                filtros:
                  type: object
                  properties:
                    proderCodigo:
                      type: array
                      items:
                        type: string
                    catId:
                      type: array
                      items:
                        type: integer
                    marcaId:
                      type: array
                      items:
                        type: integer
                    pagtipId:
                      type: array
                      items:
                        type: integer
      responses:
        '200':
          description: Alteração efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1v2~1site~1paginaadicional/post/responses/200/content/application~1json/schema
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
    delete:
      tags:
        - Conteúdo de Página Adicional
      summary: Deletar Conteúdo de Página Adicional
      operationId: deletePaginaAdicional.yaml
      parameters:
        - name: id
          in: query
          description: ID do Conteúdo de Página Adicional
          required: true
          schema:
            type: integer
      properties:
        status:
          type: string
          description: success
      responses:
        '200':
          description: Consulta efetuada com Sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: string
  /v2/site/cupomCredito:
    post:
      tags:
        - Cupom de Desconto
      summary: Criar cupom de crédito
      description: >-
        O cupom de crédito é um tipo de cupom de desconto de utilização única
        que é exclusivo para um cliente. Ele geralmente é utilizado para casos
        de devolução ou problemas com produtos, onde a loja fornece créditos
        para compensar o cliente afetado.
      operationId: postCupomCredito
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo:
                  type: string
                  description: >-
                    Se não for informado, será gerado um código automaticamente.
                    Serve como um identificador do cupom, é ele que o cliente
                    irá informar no checkout do carrinho para obter o desconto.
                  maxLength: 32
                descricao:
                  type: string
                  description: Atributo reservado para descrever o cupom.
                  maxLength: 100
                loja:
                  type: integer
                  description: Identificador da loja ao qual o cupom pertence.
                observacaoCliente:
                  type: string
                  description: >-
                    Mensagem que será apresentada para o cliente quando ele
                    informar o código do cupom no checkout do carrinho.
                  maxLength: 100
                pessoa:
                  type: integer
                  description: Id da pessoa que tem direito ao cupom.
                cupomRegrasFrete:
                  type: array
                  description: Cupom X Regra de Frete.
                  items:
                    type: object
                    properties:
                      idRegra:
                        type: integer
                        description: Identificador da regra de frete.
                      tipo:
                        type: integer
                        enum:
                          - 1
                          - 2
                        description: |2-
                           Tipo do relacionamento Cupom X Regra Frete.</br></br>
                          1 - Aplicar Regra</br> 2 - Restringir Regra 
                aplicarDescontoFormaPagamento:
                  type: boolean
                  default: true
                  description: >-
                    Define se deverá aplicar os descontos adicionais da Forma de
                    Pagamento
                validoAte:
                  type: string
                  format: date-time
                  description: Data limite até quando o cupom poderá ser utilizado.
                validoDe:
                  type: string
                  format: date-time
                  description: >-
                    Data inicial em que o cupom torna-se valido para ser
                    utilizado.
                valorDesconto:
                  type: number
                  description: 'Valor do desconto em reais. Ex: 19.99'
                valorMinimoPedido:
                  type: number
                  description: >-
                    Valor mínimo que o pedido deve atingir para o cupom poder
                    ser aplicado.
              required:
                - descricao
                - loja
                - pessoa
                - valorDesconto
      responses:
        '201':
          description: Cupom de crédito criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                title: Resposta da consulta de cupom de desconto por id
                properties:
                  status:
                    description: Mensagem de sucesso ou falha.
                    type: string
                  data:
                    type: object
                    properties:
                      ativo:
                        description: Indica se o cupom está ativo.
                        type: boolean
                      codigo:
                        description: >-
                          Código do cupom. É como um identificador do cupom, é
                          ele que o cliente irá informar no checkout do carrinho
                          para obter o desconto.
                        type: string
                      cupomRegrasFrete:
                        description: Array contendo os relacionamentos Cupom X Regra Frete.
                        type: array
                        items:
                          type: object
                          properties:
                            tipo:
                              type: integer
                              description: ' Tipo do relacionamento Cupom X Regra Frete.</br></br> 1 - Aplicar Regra</br> 2 - Restringir Regra '
                            regraFrete:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: Identificador da regra de frete.
                                nome:
                                  type: string
                                  description: Nome da regra de frete.
                                tipo:
                                  type: integer
                                  description: >2-
                                     Tipo da regra de frete.</br></br>
                                    1 - Desconto</br> 2 - Acréscimo</br> 5 -
                                    Acréscimo de Prazo de Entrega (Dias)</br> 6
                                    - Desconto de Prazo de Entrega (Dias)</br> 7
                                    - Valor Fixo (Real)</br> 8 - Restringe
                                    Serviço</br> 9 - Frete Grátis</br> 10 -
                                    Aviso de Mensagem</br> 12 - Restringe Frete
                                    Grátis 
                      descricao:
                        description: Texto curto sobre o cupom.
                        type: string
                      id:
                        description: Indentificador do cupom.
                        type: integer
                      observacaoCliente:
                        description: >-
                          Texto apresentado para o cliente ao informar o cupom
                          no checkout do carrinho.
                        type: string
                      pessoa:
                        $ref: >-
                          #/paths/~1v2~1site~1pessoa~1%7BpessoaId%7D/get/responses/200/content/application~1json/schema
                      tipoDesconto:
                        description: ' 1 - Valor</br> 2 - Percentual</br> 3 - Preço Fixo</br> 4 - Crédito</br> 5 - Progressivo - Itens Diferentes</br> 6 - Regra de Frete</br> 7 - Progressivo - Mesmo Item '
                        type: integer
                      validoDe:
                        description: Data de validade inicial do cupom.
                        type: string
                        format: date-time
                      validoAte:
                        description: Data de validade final do cupom.
                        type: string
                        format: date-time
                      valorDesconto:
                        description: >-
                          Valor de desconto do cupom. O valor corresponde ao
                          tipo do cupom, portanto, pode retornar um valor
                          monetário ou o valor da porcentagem de desconto.
                        type: number
                      valorMinimoPedido:
                        description: >-
                          Valor mínimo que o pedido deve atingir para o cupom
                          ser aplicável.
                        type: number
                      loja:
                        description: Identificador da loja.
                        type: integer
        '400':
          description: Parâmetros não informados ou informados de forma incorreta.
        '401':
          description: Não autorizado (Autenticação não informada ou inválida).
    patch:
      tags:
        - Cupom de Desconto
      summary: Alterar cupom de crédito
      description: >-
        O cupom de crédito é um tipo de cupom de desconto de utilização única
        que é exclusivo para um cliente. Ele geralmente é utilizado para casos
        de devolução ou problemas com produtos, onde a loja fornece créditos
        para compensar o cliente afetado.
      operationId: patchCupomCredito
      parameters:
        - name: codigoCupom
          in: path
          description: Código do cupom a ser alterado
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo:
                  type: string
                  description: >-
                    Se não for informado, será gerado um código automaticamente.
                    Serve como um identificador do cupom, é ele que o cliente
                    irá informar no checkout do carrinho para obter o desconto.
                  maxLength: 32
                descricao:
                  type: string
                  description: Atributo reservado para descrever o cupom.
                  maxLength: 100
                loja:
                  type: integer
                  description: Identificador da loja ao qual o cupom pertence.
                observacaoCliente:
                  type: string
                  description: >-
                    Mensagem que será apresentada para o cliente quando ele
                    informar o código do cupom no checkout do carrinho.
                  maxLength: 100
                pessoa:
                  type: integer
                  description: Id da pessoa que tem direito ao cupom.
                validoAte:
                  type: string
                  format: date-time
                  description: Data limite até quando o cupom poderá ser utilizado.
                validoDe:
                  type: string
                  format: date-time
                  description: >-
                    Data inicial em que o cupom torna-se valido para ser
                    utilizado.
                aplicaDescontosFp:
                  type: boolean
                  description: Aplicar Descontos Adicionais da Forma de Pagamento
                valorDesconto:
                  type: number
                  description: 'Valor do desconto em reais. Ex: 19.99'
                valorMinimoPedido:
                  type: number
                  description: >-
                    Valor mínimo que o pedido deve atingir para o cupom poder
                    ser aplicado.
              required:
                - loja
      responses:
        '200':
          description: Cupom de crédito criado com sucesso.
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1v2~1site~1cupomCredito/post/responses/201/content/application~1json/schema
        '400':
          description: Parâmetros não informados ou informados de forma incorreta.
        '401':
          description: Não autorizado (Autenticação não informada ou inválida).
  /v2/site/ncm:
    get:
      tags:
        - NCM
      summary: Consulta de NCM
      description: Permite consultar os NCM's
      operationId: listNcm
      parameters:
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: order
          in: query
          description: >-
            Parâmetro enviado indicando sobre qual coluna a ordenação será
            efetuada
          schema:
            type: string
            enum:
              - id
              - descricao
        - name: orderDirection
          in: query
          description: >-
            Parâmetro indicando se a ordenação deverá ser feita de forma
            crescente ou decrescente
          schema:
            type: string
            enum:
              - asc
              - desc
            format: dateTime
        - name: codigoNcm
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas códigos de NCM igual ao
            informado
          schema:
            type: string
            enum:
              - codigoNcm
        - name: descricaoNcm
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas descrições de NCM
            contendo o valor informado
          schema:
            type: string
            enum:
              - descricaoNcm
      responses:
        '200':
          description: Listagem paginada com os registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Indica o status da requisição
                    default: success
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                codigo:
                                  type: string
                                  description: Código do NCM
                                descricao:
                                  type: string
                                  description: Descrição do NCM
                                ativo:
                                  type: boolean
                                  description: Indica se está ativo/inativo
                                requerCest:
                                  type: boolean
                                  description: Indica se o CEST é requerido
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /v2/faturamento/contaPagar:
    get:
      tags:
        - Contas a Pagar
      summary: Consulta de Títulos do Contas a Pagar
      description: Permite consultar os Títulos do Contas a Pagar
      operationId: listNcm
      parameters:
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: order
          in: query
          description: >-
            Parâmetro enviado indicando sobre qual coluna a ordenação será
            efetuada
          schema:
            type: string
            enum:
              - id
        - name: orderDirection
          in: query
          description: >-
            Parâmetro indicando se a ordenação deverá ser feita de forma
            crescente ou decrescente
          schema:
            type: string
            enum:
              - asc
              - desc
            format: dateTime
        - name: numeroTitulo
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas com número igual ao
            informado
          schema:
            type: string
            enum:
              - numeroTitulo
        - name: dataGeracaoInicial
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos gerados a partir
            desta data até a data do parâmetro 'dataGeracaoFinal'. Formato
            'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataGeracaoInicial
        - name: dataGeracaoFinal
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos gerados a partir
            da data 'dataGeracaoInicial' até a data passada via parametro.
            Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataGeracaoFinal
        - name: dataVencimentoInicial
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com vencimentos
            a partir desta data até a data do parâmetro 'dataVencimentoFinal'.
            Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataVencimentoInicial
        - name: dataVencimentoFinal
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com vencimentos
            a partir da data 'dataVencimentoInicial' até a data passada via
            parametro. Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataVencimentoFinal
        - name: situacaoTitulo
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas situações com número
            igual ao informado. Verificar as Situações cadastradas no Magazord.
          schema:
            type: integer
            enum:
              - situacaoTitulo
        - name: codigoPessoa
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos vinculados ao
            código da pessoa informada.
          schema:
            type: integer
            enum:
              - codigoPessoa
        - name: idTitulo
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com o ID igual
            ao informado.
          schema:
            type: integer
            enum:
              - idTitulo
        - name: formaRecebimento
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com Forma de
            Recebimento igual ao informado. Verificar os códigos de Formas de
            Recebimento cadastradas no Magazord.
          schema:
            type: integer
            enum:
              - formaRecebimento
        - name: condicaoPagamento
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com Condição de
            Pagamento igual ao informado. Verificar os códigos de Condição de
            Pagamento cadastradas no Magazord.
          schema:
            type: integer
            enum:
              - condicaoPagamento
      responses:
        '200':
          description: Listagem paginada com os registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Indica o status da requisição
                    default: success
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                '0':
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    numero:
                                      type: string
                                    dataAbertura:
                                      type: object
                                      properties:
                                        date:
                                          type: string
                                        timezone_type:
                                          type: integer
                                        timezone:
                                          type: string
                                    valorOriginal:
                                      type: string
                                    valorLiquidado:
                                      type: string
                                    dataVencimento:
                                      type: object
                                      properties:
                                        date:
                                          type: string
                                        timezone_type:
                                          type: integer
                                        timezone:
                                          type: string
                                    dataGeracao:
                                      type: object
                                      properties:
                                        date:
                                          type: string
                                        timezone_type:
                                          type: integer
                                        timezone:
                                          type: string
                                    observacao:
                                      type: 'null'
                                    previsto:
                                      type: integer
                                    tags:
                                      type: 'null'
                                    codProtocolo:
                                      type: 'null'
                                    ultimoMovimento:
                                      type: 'null'
                                    pessoa:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        nome:
                                          type: string
                                        cpfCnpj:
                                          type: string
                                        email:
                                          type: 'null'
                                        ativo:
                                          type: boolean
                                        estrangeira:
                                          type: boolean
                                        dataCadastro:
                                          type: object
                                          properties:
                                            date:
                                              type: string
                                            timezone_type:
                                              type: integer
                                            timezone:
                                              type: string
                                        tipoUso:
                                          type: integer
                                        informacoes:
                                          type: array
                                        nomeFantasia:
                                          type: string
                                        nomeRazaoSocial:
                                          type: string
                                        inscricaoEstadual:
                                          type: string
                                        contribuinteIcms:
                                          type: boolean
                                        cpfResponsavel:
                                          type: 'null'
                                        nomeResponsavel:
                                          type: 'null'
                                        dataNascimentoResponsavel:
                                          type: 'null'
                                        dataFundacao:
                                          type: 'null'
                                        optanteSimplesNacional:
                                          type: boolean
                                        pes_tipo:
                                          type: integer
                                    tipo:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        descricao:
                                          type: string
                                        operacao:
                                          type: integer
                                        sigla:
                                          type: string
                                        sequencial:
                                          type: integer
                                        observacao:
                                          type: 'null'
                                        permiteSubstituicao:
                                          type: boolean
                                        permiteCupomDesconto:
                                          type: boolean
                                        permiteArquivoRemessa:
                                          type: boolean
                                    situacao:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        descricao:
                                          type: string
                                        ativo:
                                          type: boolean
                                    formaPagamento:
                                      type: 'null'
                                    origem:
                                      type: object
                                      properties:
                                        numero:
                                          type: string
                                        detalhamento:
                                          type: 'null'
                                        tipo:
                                          type: integer
                                        tit_id:
                                          type: integer
                                        contaOrigem:
                                          type: object
                                          properties:
                                            id:
                                              type: integer
                                            descricao:
                                              type: string
                                            tipo:
                                              type: integer
                                            opcoes:
                                              type: array
                                        pedido:
                                          type: 'null'
                                    entidade:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        midia:
                                          type: object
                                          properties:
                                            id:
                                              type: integer
                                            nomeArquivo:
                                              type: string
                                            path:
                                              type: string
                                tituloSituacaoId:
                                  type: integer
                                parcela:
                                  type: string
                                saldo:
                                  type: string
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /v2/faturamento/contaReceber:
    get:
      tags:
        - Contas a Receber
      summary: Consulta de Títulos do Contas a Receber
      description: Permite consultar os Títulos do Contas a Receber
      operationId: listNcm
      parameters:
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: order
          in: query
          description: >-
            Parâmetro enviado indicando sobre qual coluna a ordenação será
            efetuada
          schema:
            type: string
            enum:
              - id
        - name: orderDirection
          in: query
          description: >-
            Parâmetro indicando se a ordenação deverá ser feita de forma
            crescente ou decrescente
          schema:
            type: string
            enum:
              - asc
              - desc
            format: dateTime
        - name: numeroTitulo
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas com número igual ao
            informado
          schema:
            type: string
            enum:
              - numeroTitulo
        - name: dataGeracaoInicial
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos gerados a partir
            desta data até a data do parâmetro 'dataGeracaoFinal'. Formato
            'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataGeracaoInicial
        - name: dataGeracaoFinal
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos gerados a partir
            da data 'dataGeracaoInicial' até a data passada via parametro.
            Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataGeracaoFinal
        - name: dataVencimentoInicial
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com vencimentos
            a partir desta data até a data do parâmetro 'dataVencimentoFinal'.
            Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataVencimentoInicial
        - name: dataVencimentoFinal
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com vencimentos
            a partir da data 'dataVencimentoInicial' até a data passada via
            parametro. Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataVencimentoFinal
        - name: situacaoTitulo
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas situações com número
            igual ao informado. Verificar as Situações cadastradas no Magazord.
          schema:
            type: integer
            enum:
              - situacaoTitulo
        - name: codigoPessoa
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos vinculados ao
            código da pessoa informada.
          schema:
            type: integer
            enum:
              - codigoPessoa
        - name: idTitulo
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com o ID igual
            ao informado.
          schema:
            type: integer
            enum:
              - idTitulo
        - name: formaRecebimento
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com Forma de
            Recebimento igual ao informado. Verificar os códigos de Formas de
            Recebimento cadastradas no Magazord.
          schema:
            type: integer
            enum:
              - formaRecebimento
        - name: condicaoPagamento
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com Condição de
            Pagamento igual ao informado. Verificar os códigos de Condição de
            Pagamento cadastradas no Magazord.
          schema:
            type: integer
            enum:
              - condicaoPagamento
        - name: codigoPedido
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com Código do
            Pedido igual ao informado.
          schema:
            type: integer
            enum:
              - codigoPedido
        - name: dataPedidoInicial
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com data do
            pedido a partir desta data até a data do parâmetro
            'dataPedidoFinal'. Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataPedidoInicial
        - name: dataPedidoFinal
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas títulos com data do
            pedido a partir da data 'dataPedidoInicial' até a data passada via
            parametro. Formato 'yyyy-mm-dd'
          schema:
            type: date
            enum:
              - dataPedidoFinal
      responses:
        '200':
          description: Listagem paginada com os registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Indica o status da requisição
                    default: success
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                '0':
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    numero:
                                      type: string
                                    dataAbertura:
                                      type: object
                                      properties:
                                        date:
                                          type: string
                                        timezone_type:
                                          type: integer
                                        timezone:
                                          type: string
                                    valorOriginal:
                                      type: string
                                    valorLiquidado:
                                      type: string
                                    dataVencimento:
                                      type: object
                                      properties:
                                        date:
                                          type: string
                                        timezone_type:
                                          type: integer
                                        timezone:
                                          type: string
                                    dataGeracao:
                                      type: object
                                      properties:
                                        date:
                                          type: string
                                        timezone_type:
                                          type: integer
                                        timezone:
                                          type: string
                                    observacao:
                                      type: 'null'
                                    previsto:
                                      type: integer
                                    tags:
                                      type: 'null'
                                    codProtocolo:
                                      type: 'null'
                                    ultimoMovimento:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        valorLiquidado:
                                          type: string
                                        valorSaldo:
                                          type: string
                                        valorDesconto:
                                          type: string
                                        valorAcrescimo:
                                          type: string
                                        valorJuros:
                                          type: string
                                        valorMovimento:
                                          type: string
                                        data:
                                          type: object
                                          properties:
                                            date:
                                              type: string
                                            timezone_type:
                                              type: integer
                                            timezone:
                                              type: string
                                        dataMovimento:
                                          type: object
                                          properties:
                                            date:
                                              type: string
                                            timezone_type:
                                              type: integer
                                            timezone:
                                              type: string
                                        agrupador:
                                          type: 'null'
                                        observacao:
                                          type: 'null'
                                        numeroDocumento:
                                          type: 'null'
                                    pessoa:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        nome:
                                          type: string
                                        cpfCnpj:
                                          type: string
                                        email:
                                          type: string
                                          format: email
                                        ativo:
                                          type: boolean
                                        estrangeira:
                                          type: boolean
                                        dataCadastro:
                                          type: object
                                          properties:
                                            date:
                                              type: string
                                            timezone_type:
                                              type: integer
                                            timezone:
                                              type: string
                                        tipoUso:
                                          type: integer
                                        informacoes:
                                          type: object
                                          properties:
                                            apelido_ml:
                                              type: string
                                        dataNascimento:
                                          type: 'null'
                                        sexo:
                                          type: 'null'
                                        rg:
                                          type: 'null'
                                        pes_tipo:
                                          type: integer
                                    tipo:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        descricao:
                                          type: string
                                        operacao:
                                          type: integer
                                        sigla:
                                          type: string
                                        sequencial:
                                          type: integer
                                        observacao:
                                          type: 'null'
                                        permiteSubstituicao:
                                          type: boolean
                                        permiteCupomDesconto:
                                          type: boolean
                                        permiteArquivoRemessa:
                                          type: boolean
                                    situacao:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        descricao:
                                          type: string
                                        ativo:
                                          type: boolean
                                    formaPagamento:
                                      type: 'null'
                                    origem:
                                      type: object
                                      properties:
                                        numero:
                                          type: string
                                        detalhamento:
                                          type: 'null'
                                        tipo:
                                          type: integer
                                        tit_id:
                                          type: integer
                                        contaOrigem:
                                          type: object
                                          properties:
                                            id:
                                              type: integer
                                            descricao:
                                              type: string
                                            tipo:
                                              type: integer
                                            opcoes:
                                              type: array
                                        pedido:
                                          type: object
                                          properties:
                                            id:
                                              type: integer
                                            codigo:
                                              type: string
                                            codigoSecundario:
                                              type: 'null'
                                            valorFrete:
                                              type: string
                                            valorFretePagar:
                                              type: string
                                            valorTotal:
                                              type: string
                                            valorDesconto:
                                              type: string
                                            valorProduto:
                                              type: string
                                            valorPresente:
                                              type: string
                                            valorAcrescimo:
                                              type: string
                                            valorTransacao:
                                              type: 'null'
                                            dataHora:
                                              type: object
                                              properties:
                                                date:
                                                  type: string
                                                timezone_type:
                                                  type: integer
                                                timezone:
                                                  type: string
                                            dataAprovado:
                                              type: object
                                              properties:
                                                date:
                                                  type: string
                                                timezone_type:
                                                  type: integer
                                                timezone:
                                                  type: string
                                            dataPagamento:
                                              type: 'null'
                                            ip:
                                              type: 'null'
                                            origem:
                                              type: integer
                                            info:
                                              type: array
                                    entidade:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        midia:
                                          type: object
                                          properties:
                                            id:
                                              type: integer
                                            nomeArquivo:
                                              type: string
                                            path:
                                              type: string
                                tituloSituacaoId:
                                  type: integer
                                parcela:
                                  type: string
                                saldo:
                                  type: string
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /v2/faturamento/contaReceber/{numeroTitulo}/boleto:
    get:
      tags:
        - Contas a Receber
      summary: Consulta de Boletos do Contas a Receber
      description: Permite consultar os Boletos do Contas a Receber
      operationId: listBoletos
      parameters:
        - name: numeroTitulo
          in: path
          description: Número do Título
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Listagem dos registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Indica o status da requisição
                    default: success
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        tituloNumero:
                          type: string
                          description: Número do título
                        boletoId:
                          type: integer
                          description: Identificador do boleto
                        boletoUrl:
                          type: string
                          description: URL do boleto
                        situacao:
                          type: integer
                          description: Situação do boleto
                        situacaoDescricao:
                          type: string
                          description: Descrição da situação do boleto
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
        '404':
          description: O título não foi encontrado
  /v2/site/menu:
    get:
      tags:
        - Menu do Site
      summary: Consulta de Menus do Site
      description: Permite consultar os Menus do Site
      operationId: listMenuSite
      parameters:
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: order
          in: query
          description: >-
            Parâmetro enviado indicando sobre qual coluna a ordenação será
            efetuada
          schema:
            type: string
            enum:
              - id
              - descricao
        - name: orderDirection
          in: query
          description: >-
            Parâmetro indicando se a ordenação deverá ser feita de forma
            crescente ou decrescente
          schema:
            type: string
            enum:
              - asc
              - desc
            format: dateTime
        - name: id
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas código de Menu do Site
            igual ao informado
          schema:
            type: integer
            format: int32
            enum:
              - id
        - name: nome
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas nomes de Menus do Site
            contendo o valor informado
          schema:
            type: string
            enum:
              - nome
        - name: loja
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas lojas vinculadas aos
            Menus do Site igual ao valor informado
          schema:
            type: integer
            format: int32
            enum:
              - loja
      responses:
        '200':
          description: Listagem paginada com os registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Indica o status da requisição
                    default: success
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: Código do Menu do site
                                nome:
                                  type: string
                                  description: Nome do Menu do Site
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /v2/site/cest:
    get:
      tags:
        - CEST
      summary: Consulta de CEST
      description: Permite consultar os CEST's
      operationId: listCest
      parameters:
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: order
          in: query
          description: >-
            Parâmetro enviado indicando sobre qual coluna a ordenação será
            efetuada
          schema:
            type: string
            enum:
              - id
              - descricao
        - name: orderDirection
          in: query
          description: >-
            Parâmetro indicando se a ordenação deverá ser feita de forma
            crescente ou decrescente
          schema:
            type: string
            enum:
              - asc
              - desc
            format: dateTime
        - name: codigoCest
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas códigos de CEST igual ao
            informado
          schema:
            type: string
            enum:
              - codigoCest
        - name: descricaoCest
          in: query
          description: >-
            Parâmetro indicando que deve filtrar apenas descrições de CEST
            contendo o valor informado
          schema:
            type: string
            enum:
              - descricaoCest
      responses:
        '200':
          description: Listagem paginada com os registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Indica o status da requisição
                    default: success
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                codigo:
                                  type: string
                                  description: Código do CEST
                                descricao:
                                  type: string
                                  description: Descrição do CEST
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /v2/site/cupomDesconto:
    post:
      tags:
        - Cupom de Desconto
      summary: Criar cupom de desconto
      description: Permite criar cupoms de desconto do tipo valor ou percentual.
      operationId: postCupomDesconto
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo:
                  type: string
                  description: >-
                    Se não for informado, será gerado um código automaticamente.
                    Serve como um identificador do cupom, é ele que o cliente
                    irá informar no checkout do carrinho para obter o desconto.
                  maxLength: 32
                descricao:
                  type: string
                  description: Atributo reservado para descrever o cupom.
                  maxLength: 100
                loja:
                  type: integer
                  description: Identificador da loja ao qual o cupom pertence.
                observacaoCliente:
                  type: string
                  description: >-
                    Mensagem que será apresentada para o cliente quando ele
                    informar o código do cupom no checkout do carrinho.
                  maxLength: 100
                pessoa:
                  type: integer
                  description: >-
                    Id da pessoa. Se informado, o cupom só poderá ser utilizado
                    pela pessoa ao qual o id se refere.
                cupomRegrasFrete:
                  $ref: >-
                    #/paths/~1v2~1site~1cupomCredito/post/requestBody/content/application~1json/schema/properties/cupomRegrasFrete
                aplicarDescontoFormaPagamento:
                  type: boolean
                  default: true
                  description: >-
                    Define se deverá aplicar os descontos adicionais da Forma de
                    Pagamento
                tipoDesconto:
                  type: integer
                  enum:
                    - 1
                    - 2
                  description: ' 1 - Desconto por valor</br> 2 - Desconto por percentual '
                validoAte:
                  type: string
                  format: date-time
                  description: Data limite até quando o cupom poderá ser utilizado.
                validoDe:
                  type: string
                  format: date-time
                  description: >-
                    Data inicial em que o cupom torna-se valido para ser
                    utilizado.
                valorDesconto:
                  type: number
                  description: >-
                    É a porcentagem de desconto ou o valor do desconto.
                    <strong>Atenção! Este atributo deve ser informado de acordo
                    com o que for passado para o atributo
                    "tipoDesconto"</strong>.
                valorMinimoPedido:
                  type: number
                  description: >-
                    Valor mínimo que o pedido deve atingir para o cupom poder
                    ser aplicado.
                tipoLimite:
                  type: integer
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                  description: ' 1 - Sem limite</br> 2 - Único por cliente</br> 3 - Único geral</br> 4 - Quantidade</br> 5 - Valor</br> 6 - Primeira compra</br> 7 - Recompra</br> 8 - Recompra, único por cliente '
                valorLimite:
                  type: number
                  description: Valor limite do cupom de desconto.
              required:
                - descricao
                - loja
                - tipoDesconto
                - valorDesconto
                - tipoLimite
      responses:
        '201':
          description: Cupom de desconto criado com sucesso.
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1v2~1site~1cupomCredito/post/responses/201/content/application~1json/schema
        '400':
          description: Parâmetros não informados ou informados de forma incorreta.
        '401':
          description: Não autorizado (Autenticação não informada ou inválida).
    patch:
      tags:
        - Cupom de Desconto
      summary: Alterar cupom de desconto
      description: Permite alterar cupom de desconto do tipo valor ou percentual.
      operationId: patchCupomDesconto
      parameters:
        - name: codigoCupom
          in: path
          description: Código do cupom a ser alterado
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo:
                  type: string
                  description: >-
                    Se não for informado, será gerado um código automaticamente.
                    Serve como um identificador do cupom, é ele que o cliente
                    irá informar no checkout do carrinho para obter o desconto.
                  maxLength: 32
                descricao:
                  type: string
                  description: Atributo reservado para descrever o cupom.
                  maxLength: 100
                loja:
                  type: integer
                  description: Identificador da loja ao qual o cupom pertence.
                observacaoCliente:
                  type: string
                  description: >-
                    Mensagem que será apresentada para o cliente quando ele
                    informar o código do cupom no checkout do carrinho.
                  maxLength: 100
                pessoa:
                  type: integer
                  description: >-
                    Id da pessoa. Se informado, o cupom só poderá ser utilizado
                    pela pessoa ao qual o id se refere.
                tipoDesconto:
                  type: integer
                  enum:
                    - 1
                    - 2
                  description: ' 1 - Desconto por valor</br> 2 - Desconto por percentual '
                validoAte:
                  type: string
                  format: date-time
                  description: Data limite até quando o cupom poderá ser utilizado.
                validoDe:
                  type: string
                  format: date-time
                  description: >-
                    Data inicial em que o cupom torna-se valido para ser
                    utilizado.
                aplicaDescontosFp:
                  type: boolean
                  description: Aplicar Descontos Adicionais da Forma de Pagamento
                valorDesconto:
                  type: number
                  description: >-
                    É a porcentagem de desconto ou o valor do desconto.
                    <strong>Atenção! Este atributo deve ser informado de acordo
                    com o que for passado para o atributo
                    "tipoDesconto"</strong>.
                valorMinimoPedido:
                  type: number
                  description: >-
                    Valor mínimo que o pedido deve atingir para o cupom poder
                    ser aplicado.
                tipoLimite:
                  type: integer
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                  description: ' 1 - Sem limite</br> 2 - Único por cliente</br> 3 - Único geral</br> 4 - Quantidade</br> 5 - Valor</br> 6 - Primeira compra</br> 7 - Recompra</br> 8 - Recompra, único por cliente '
                valorLimite:
                  type: number
                  description: Valor limite do cupom de desconto.
              required:
                - loja
      responses:
        '200':
          description: Cupom de desconto alterado com sucesso.
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1v2~1site~1cupomCredito/post/responses/201/content/application~1json/schema
        '400':
          description: Parâmetros não informados ou informados de forma incorreta.
        '401':
          description: Não autorizado (Autenticação não informada ou inválida).
    get:
      tags:
        - Cupom de Desconto
      summary: Listar cupons
      description: >2-
         Lista todos os atributos de todos os cupons de descontos e créditos.
        </br></br>

        Repare que não existe restrição de tipo para este endpoint, portanto,
        qualquer cupom de desconto pode ser visualizado neste endpoint,
        inclusive os de crédito. 
      operationId: getListCupomDesconto
      parameters:
        - name: limit
          in: path
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: path
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: id
          in: path
          description: id do cupom
          schema:
            type: integer
            format: int32
        - name: codigo
          in: path
          description: Código do cupom
          schema:
            type: string
        - name: ativo
          in: path
          description: Indica se o cupom está ativo, ou não
          schema:
            type: boolean
            minimum: true
            maximum: false
        - name: loja
          in: path
          description: id da loja que gerou o cupom
          schema:
            type: integer
            format: int32
        - name: validoDe
          in: path
          description: >-
            Parâmetro indicando que deve filtrar apenas os cupons com a validade
            inicial igual a data informada. Formato esperado
            "YYYY-MM-DDThh:mm:ssZ"
          schema:
            type: string
            format: date-time
        - name: validoAte
          in: path
          description: >-
            Parâmetro indicando que deve filtrar apenas os cupons com a validade
            final igual a data informada. Formato esperado
            "YYYY-MM-DDThh:mm:ssZ"
          schema:
            type: string
            format: date-time
        - name: valorDesconto
          in: path
          description: Desconto referente ao cupom
          schema:
            type: number
            format: '0.00'
        - name: tipoDesconto
          in: path
          description: >-
            <b>Tipo do desconto:</b><br> 1 - Valor<br> 2 - Percentual<br> 3 -
            Preço Fixo<br> 4 - Crédito<br> 5 - Progressivo - Itens
            Diferentes<br> 6 - Regra de Frete<br> 7 - Progressivo - Mesmo Item
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 7
      responses:
        '200':
          description: Consulta efetuada com sucesso.
          content:
            application/json:
              schema:
                type: object
                title: >-
                  Resposta da consulta da listagem de cupons de desconto e de
                  crédito
                properties:
                  status:
                    description: Mensagem de sucesso ou falha.
                    type: string
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              title: Resposta da consulta de lista de cupom desconto.
                              type: object
                              properties:
                                ativo:
                                  description: Indica se o cupom está ativo.
                                  type: boolean
                                codigo:
                                  description: >-
                                    Código do cupom. É como um identificador do
                                    cupom, é ele que o cliente irá informar no
                                    checkout do carrinho para obter o desconto.
                                  type: string
                                id:
                                  description: Indentificador do cupom.
                                  type: integer
                                tipoDesconto:
                                  description: ' 1 - Valor</br> 2 - Percentual</br> 3 - Preço Fixo</br> 4 - Crédito</br> 5 - Progressivo - Itens Diferentes</br> 6 - Regra de Frete</br> 7 - Progressivo - Mesmo Item '
                                  type: integer
                                  enum:
                                    - 1
                                    - 7
                                validoAte:
                                  description: Data de validade final do cupom.
                                  type: string
                                  format: date-time
                                validoDe:
                                  description: Data de validade inicial do cupom.
                                  type: string
                                  format: date-time
                                valorDesconto:
                                  description: >-
                                    Valor de desconto do cupom. O valor
                                    corresponde ao tipo do cupom, portanto, pode
                                    retornar um valor monetário ou o valor da
                                    porcentagem de desconto.
                                  type: number
                                loja:
                                  description: Identificador da loja.
                                  type: integer
                      - $ref: >-
                          #/paths/~1v2~1site~1loja/get/responses/200/content/application~1json/schema/properties/data/allOf/1
        '400':
          description: Parâmetros não informados ou informados de forma incorreta.
        '401':
          description: Não autorizado (Autenticação não informada ou inválida).
  /v2/site/cupomDesconto/{id}:
    get:
      tags:
        - Cupom de Desconto
      summary: Consultar cupom pelo id
      description: >2-
         Detalha as informações do cupom que corresponder ao id.
        </br></br>

        Repare que não existe restrição de tipo para este endpoint, portanto,
        qualquer cupom de desconto pode ser visualizado neste endpoint,
        inclusive os de crédito. 
      operationId: getCupomDesconto
      parameters:
        - name: id
          in: path
          description: Id do cupom de desconto.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Consulta efetuada com sucesso.
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1v2~1site~1cupomCredito/post/responses/201/content/application~1json/schema
        '400':
          description: Parâmetros não informados ou informados de forma incorreta.
        '401':
          description: Não autorizado (Autenticação não informada ou inválida).
  /v2/site/forma-recebimento:
    get:
      tags:
        - Formas de Recebimentos
      summary: Consultar Formas de Recebimento
      operationId: listFormaRecebimento
      parameters:
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          description: Página atual dos registros
          schema:
            type: integer
            format: int32
            default: 1
        - name: order
          in: query
          description: >-
            Parâmetro enviado indicando sobre qual coluna a ordenação será
            efetuada
          schema:
            type: string
            enum:
              - id
              - nome
            default: id
        - name: orderDirection
          in: query
          description: >-
            Parâmetro indicando se a ordenação deverá ser feita de forma
            crescente ou decrescente
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Listagem paginada das formas de recebimento
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Indica o status da requisição
                    default: success
                  data:
                    type: object
                    allOf:
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  format: int32
                                  description: ID interno da forma de recebimento
                                nome:
                                  type: string
                                  description: Nome da forma de recebimento
                      - $ref: >-
                          #/paths/~1v2~1site~1loja/get/responses/200/content/application~1json/schema/properties/data/allOf/1
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /v1/listEstoque:
    get:
      tags:
        - Estoque
      summary: Consulta de Estoque
      description: Permite Consultar estoque para um determinado produto e depósito
      operationId: listEstoque
      parameters:
        - name: limit
          in: query
          description: Limite de registros a serem retornados
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          description: Ponto de início para paginação dos registros
          schema:
            type: integer
            format: int32
            default: 0
        - name: deposito
          in: query
          description: >-
            Parâmetro para que seja filtrado o depósito de acordo com o ID deste
            no Magazord
          schema:
            type: integer
            format: int32
        - name: produto
          in: query
          description: >-
            Parâmetro para que seja filtrado o estoque de um produto derivação
            de acordo com o código deste no Magazord
          schema:
            type: string
        - name: produtoPai
          in: query
          description: >-
            Parâmetro para que seja filtrado o estoque de um produto derivação
            Pai de acordo com o código deste no Magazord
          schema:
            type: string
[...]
